<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>jay stores</title>
	<link rel="stylesheet" type="text/css" href="assets/css/fontello.css">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<body>
	<header>
		<a href="index.html"><h1 class="logo">Jay Store</h1></a>
		<ul>
			<li><a href="cart.html"><i class="icon-basket"></i></a></li>
		</ul>
	</header>

	<article class="cart">
		<table>
			<caption><u>Items in cart</u></caption>
			<tr>
				<th>Product Name</th>
				<th>Price (kshs)</th>
				<th>Qty</th>
				<th>Unit Price (kshs)</th>
			</tr>
			<tr>
				<td>Leather jacket</td>
				<td>3,599</td>
				<td>1</td>
				<td>3,599</td>
			</tr>
			<tr>
				<td>Adidas track</td>
				<td>2,500</td>
				<td>3</td>
				<td>7,500</td>
			</tr>
			<tr>
				<td>Italian suit</td>
				<td>23,599</td>
				<td>1</td>
				<td>23,599</td>
			</tr>
			<tr>
				<td>Maxy-dress</td>
				<td>3,000</td>
				<td>3</td>
				<td>9,000</td>
			</tr>
			<tr>
				<td colspan="3">Total</td>
				<td>100,345</td>
			</tr>
		</table>
		<div class="control-btns">
			<a href="index.html"><button class="cancel">Cancel</button></a>
			<a href="index.html"><button class="cont-shopping">Continue</button></a>
			<button class="checkout">Checkout</button>
		</div>	
	</article>
</body>
