<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>jay stores</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/fontello.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
</head>
<body>
	<header>
		<a href="index.html"><h1 class="logo">Jay Store</h1></a>
		<ul>
			<li><a href="products.html">products</a></li>
			<li><a href="profile.html">profile</a></li>
			<li><a href="mysales.html">my records</a></li>
			<li><a href="profile.html">profile</a></li>
		</ul>
	</header>
	<article class="create-product login">
		<h2>Create sales record</h2>
		<span id="msg"></span>
		<form id="newsale">
			<input type="text" id="product" name="product-name" placeholder="Enter product name">
			<input type="text" id="price" name="product-price" placeholder="Enter product price">
			<input type="number" id="quantity" name="product-qty" min="1" placeholder="Enter quantity">
			<button type="submit" class="create">Add</button>
		</form>
	</article>
	<script src="../assets/js/createsale.js"></script>
</body>
</html>
